.main{
    width: 100vw;
    height: 100%;
    display: flex;
    background: #28166F;
    box-sizing: border-box;
}

.left{
    width: 60vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.leftImg{
    width: 70%;
}
.govMt{
    margin-bottom: 100px;
}
.rightImg{
    width: 25%;
}


.right{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0 20px 20px 0;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: white;
    border-radius: 20px 5px;
    box-shadow: 0px 10px 40px #f0f0f056;
    padding: 20px;
}
 .h1Logo{
    color:black;
    font-weight: bold;
    margin: 0;
    font-size: 25pt;
    padding-left: 10px;
    text-align: left;
}

.h1Login{
    color: #193282;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}
form {
    width: 80%;
}
.criarConta{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}.criarConta > a{
    color: #8E8E8E;
    text-decoration: none;
}.criarConta > a:hover{
    text-decoration: underline;
}

label{
    color: #f0ffffde;
}

.btnLogin{
    width: 100%;
    padding: 16px 0;
    margin: 10px 0;
    border: none;
    border-radius: 15px 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    background: #28166F;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #28166F52;
    transition-duration: 0.2s;
}.btnLogin:hover{
    background: #331e85;
}

.lembrar{
    color: #f0ffff94;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.asdasd{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 800px){
    .left{
        display: none;
    }
    .right{
        width: 100vw;
        height: 100vh;
    }
}
@media(max-width: 1301px){
    .h1Logo{
        font-size: 18pt;
    }
}
@media(max-width: 1000px){
    .h1Logo{
        font-size: 15pt;
    }
}
@media(max-width: 800px){
    .h1Logo{
        font-size: 25pt;
    }
}

@media(max-width: 602px){
    .h1Logo{
        font-size: 20pt;
    }
}@media(max-width: 280px){
    .h1Logo{
        display: none;
    }
}

