body{
    background: #201b2c;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 20px auto;
    height: 100%;
}
.card{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
}

.btnCriar{
    align-self: center;
    padding: 12px 20px;
    margin: 20px ;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background: #7749f8;
    cursor: pointer;
    transition-duration: 0.2s;
}.btnCriar:hover{
    background: #28166f;
}

.pResponsive{
    margin: 0 10px;
}
@media(max-width: 600px){
    .pResponsive{
        display: none;
    }
}
