body{
    background: #201b2c;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 20px auto;
    height: 100%;
}
.card{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
}

.btnCriar{
    align-self: center;
    padding: 12px 20px;
    margin: 20px ;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background: #7749f8;
    cursor: pointer;
    transition-duration: 0.2s;
}.btnCriar:hover{
    background: #28166f;
}
.btnDeletar{
    padding: 6px 10px;
    margin: 2px;
    border: none;
    width: 100%;
    border-radius: 7px;
    font-weight: 600;
    color:white;
    background: #dc3545;
    cursor: pointer;
    transition-duration: 0.2s;
}.btnDeletar:hover{
    background: #960110;
}

.btnVisualizar{
    padding: 6px 10px;
    margin: 2px;
    border: none;
    border-radius: 7px;
    font-weight: 600;
    width: 100%;
    color:white;
    background: #7749f8;
    cursor: pointer;
    transition-duration: 0.2s;
}.btnVisualizar:hover{
    background: #28166f;
}

@media(max-width: 700px){
    .btnDeletar{
        width: 100%;
    }
    .btnVisualizar{
        width: 100%;
    }
}
